<header id="header">
  <h1>L'Atelier De Muss</h1>
  <nav>

    <ul>
      <li><a href="#intro">Intro</a></li>
      <li><a href="#one">Que fais-je ?</a></li>
      <li><a href="#two">Qui suis-je ?</a></li>
      <li><a href="#work">Mes Idées</a></li>
      <li><a href="/project">Project</a></li>

      <li>
        <% if user_signed_in? %>

          <!-- Notification -->
          <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
            <div class="badge-container">
              <i class="fa fa-envelope-o"></i>
              <div class="badge badge-blue">3</div>
            </div>
          <% end %>

          <!-- Profile picture and dropdown -->
          <div class="navbar-wagon-item">
            <div class="dropdown">
              <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to "#" do %>
                    <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>

        <% else %>

          <!-- Login text link -->
          <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

        <% end %>
      </li>
    </ul>
  </nav>
</header>


