<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'lampe2.jpg'%>);">
        <div class="card-category">Luminaire</div>
          <div class="card-description">
            <h2>DriftWood</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <%= image_tag '', class: 'card-user avatar' %>
          <a class="card-link" href="/project" ></a>
        </div>
      </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'fauteuil.jpg'%>);">
        <div class="card-category">Mobilier</div>
          <div class="card-description">
          <h2>Design</h2>
          <p>Very cool stuff, useful and smart</p>
          </div>
          <%= image_tag '', class: 'card-user avatar' %>
          <a class="card-link" href="/project" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'mur.jpg'%>);">
        <div class="card-category">HO</div>
          <div class="card-description">
          <h2>Events</h2>
          <p>Very cool stuff, useful and smart</p>
          </div>
        <%= image_path'', class: 'card-user avatar' %>
        <a class="card-link" href="/project" ></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'lampe2.jpg'%>);">
        <div class="card-category">Luminaire</div>
          <div class="card-description">
            <h2>DriftWood</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <%= image_tag '', class: 'card-user avatar' %>
          <a class="card-link" href="/project" ></a>
        </div>
      </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'background.jpg'%>);">
        <div class="card-category">Mobilier</div>
          <div class="card-description">
          <h2>Design</h2>
          <p>Very cool stuff, useful and smart</p>
          </div>
          <%= image_tag '', class: 'card-user avatar' %>
          <a class="card-link" href="/project" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: url(<%= image_path 'lampe.jpg'%>);">
        <div class="card-category">HO</div>
          <div class="card-description">
          <h2>Events</h2>
          <p>Very cool stuff, useful and smart</p>
          </div>
        <%= image_path'', class: 'card-user avatar' %>
        <a class="card-link" href="/project" ></a>
      </div>
    </div>
  </div>
</div>
